<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<%- include('../layout/head'); %>
<style>
* {
  box-sizing:border-box
}
h2 {
  text-align: center;
}

</style>


</head>

<body>

<header>
<%- include('../layout/header'); %>
</header>

<main>                            
<table >
<tr>
<td width="10%" valign="top" style="padding-top:50px"><img src="/images/left1.jpg"></td>
<td	width="80%" ><div style="padding: 10px; align:center; color:#ff0000; font-size: 30px" >
<p>CẢM ƠN BẠN ĐÃ MUA HÀNG!<p>
<p>HẸN GẶP LẠI BẠN</p>
<a href="/">Về Trang Chủ</a>
</td>
		<td width="10%" valign="top" style="padding-top:50px"><img src="images/right.jpg"></td>
</tr>
</table>
<div class="position-fixed" style="right: 10px; bottom: 10px;"><a href="#top"><i class="fa fa-chevron-circle-up fa-4x"></i></a></div>

</main>

<footer>
<%- include('../layout/footer'); %>
</footer>

</body>

</html>

