<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<%- include('../layout/head'); %>
<style>
* {
  box-sizing:border-box
}
h2 {
  text-align: center;
}

</style>


</head>

<body>
<header>
<%- include('../layout/header'); %>
</header>

<main>                            
<a href="/"><i class="fas fa-home"></i>Trang Chủ</a><a href="#"> > Trang Giới Thiệu</a></a>
<table >
<tr>
<td width="10%" valign="top" style="padding-top:50px"><img src="images/left1.jpg"></td>
<td	width="80%" ><div style="padding: 30px">
<br>
      		<h1 style ="text-align: center; color: red;">SHOP HANDMADE</h1><br>
      		<p style="text-indent: 20px">Ở Việt Nam, sản phẩm handmade luôn dành được sự quan tâm của mọi người. Nhưng lại chưa thật sự có một kênh phân phối
                    nào nổi bật để mọi người quan tâm. Nên chủ yếu các bạn trẻ thường sẽ tự tìm hiểu và tự tạo ra các sản phẩm handmade.
                    Thường những sản phẩm đó mang lại rất nhiều ý nghĩa về mặt tình cảm, nhưng lại cần rất nhiều thời gian và công sức cho
                    những người không chuyên. Mặt khác, sản phẩm tạo ra có thể không đảm bảo về mặt chất lượng. Đối với những người không 
                    khéo tay thì để tạo ra những sản phẩm handmade lại là một điều khó khăn, mà bản thân họ vẫn có nhu cầu sở hữu, gửi tặng
                    những sản phẩm này.</p><br>
					<p style="text-align: center">  <img src="images/gaubong/gau-bong-bach-tuoc.jpg" alt="Sản phẩm handmade"></p><br>
	<p style="text-indent: 20px">Hiểu được nhu cầu đó của khách hàng, nhóm chúng tôi quyết định tạo một website bán sản phẩm handmade – 
            một kênh phân phối sản phẩm handmade uy tín, chất lượng tại Việt Nam. Để đáp ứng nhu cầu trên của khách hàng 
            mà ít ai quan tâm, đồng thời tạo ra một thương hiệu mới trên thị trường, cải tạo lại chất lượng trên thị trường màu mỡ này.</p><br>

                <p style="text-indent: 20px">Mang ý nghĩa là một sản phẩm nghệ thuật, tự tay còn người làm ra, nên chứa đựng trong đó đầy tình cảm, công sức, ý nghĩa nhiều hơn những sản phẩm thông thường.</p><br>

                   <p style="text-indent: 20px">Là một sản phẩm được làm bằng tay nên sản phẩm tạo ra có thể không nhiều nhưng rất giá trị, mặc khác dù các tác phẩm có thể sao chép xong không thể nào giống y hệt sản phẩm ban đầu.
Với công nghệ tiên tiến như hiện nay, ở những nước phát triển như Châu Âu, Mỹ.. và ở Việt Nam đang là phong trào, con người lại thích những sản được làm bằng tay và vì thế những người làm đồ handmade giỏi lại kiếm được nhiều tiền trong những món đồ mà họ tạo ra.
Có thể nói đồ handmade còn là một giá trị nghệ thuật và người làm đồ handmade là một nghệ nhân thật thụ.</p><br>
                   
                   <p style="text-align: center"> <img src="images/hoagiay/hoa-dong-tien.jpg" alt="Sản phẩm handmade"></p>
                    
      	</div></td>
		<td width="10%" valign="top" style="padding-top:50px"><img src="images/right.jpg"></td>
</tr>
</table>


<div class="position-fixed" style="right: 10px; bottom: 10px;"><a href="#top"><i class="fa fa-chevron-circle-up fa-4x"></i></a></div>

</main>

<footer>
<%- include('../layout/footer'); %>
</footer>

</body>

</html>

