<div id="top"></div>
<div >
<table width="100%" border="0" cellpadding="0" cellspacing="0"  style="background-image:url("images/logo.jpg"); background-repeat:repeat-x;"  >
        <tr bgcolor="#FFFFFF">
        <td width="40%" valign="bottom">
          <header id="aa-header">
<div class="aa-header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-bottom-area">
                    <!-- Shipping service -->
                    <div class="aa-shipping-box">
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Miễn phí vận chuyển</div>
                      <div class="">Khu vực TP HCM</div>
                      </span>

                        </a>
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-phone"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Hỗ trợ: 037.7026.186</div>
                          <div class="">Tư vấn 24/7 miễn phí</div>
                      </span>

                        </a>
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Giao hàng toàn quốc</div>
                      <div class="">Đảm bảo uy tín, chất lượng</div>
                      </span>

                        </a>
                    </div>
					</div>
            </div>
        </div>
    </div>
</div>
    </header>
        </td>
        <td width="20%" valign="top" align="center">
            <a href="/"><img src="/images/logo.jpg" width="100%"/></a>
        </td>
	
        

        <td width="40%">
        <div>
        <table>
        <tr>
		<%- tendn %>
		
		</tr>
		<tr>
        <td  valign="bottom">
        <form class="form-inline my-2 mr-5" method="POST" action="/timkiem">
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Nhập sản phẩm cần tìm" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
        </form>
        </td>
        <td style="float:right" width="50%" align="right" >
        <a href="/chitietgiohang"><button class="btn btn-outline-danger my-2 my-sm-0" type="button">Giỏ hàng</button></a>
        </td>
        </tr>
        </table>
        </div>
        </td>
    </tr>
</table>
</div>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="/gioithieu">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mockhoa">Sản phẩm</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/lienhe">Liên hệ</a>
            </li>
			
        </ul>
        
       
    </div>
</nav>




