
 <header id="aa-header">
         <!-- start header top  -->
    <div class="aa-header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-top-area">
              <!-- start header top left -->
              <div class="aa-header-top-left">
                <div class="cellphone hidden-xs">
                  <p><span class="fas fa-home"></span>Hama</p>
                </div>
                <!-- start language -->
                <div class="aa-language">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <img src="/images/flag/vietnam.png" alt="english flag">Việt Nam
                    </a>

                  </div>
                </div>
                <!-- / language -->

              </div>
              <!-- / header top left -->
              <div class="aa-header-top-right">
                <ul class="aa-head-top-nav-right">

	                <%-tendn%>

                   <!--  data-toggle="modal" data-target="#login-modal" -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / header top  -->
	
<div class="aa-header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-bottom-area">
                    <!-- logo  -->
                    <div class="aa-logo">
                        <!-- Text based logo -->
                       
                        <!-- img based logo -->
                        <a href="/"><img src="/images/logo1.png"
                                                                           alt="logo img" width="100%"></a>
                    </div>
                    <!-- / logo  -->
                    <!-- Shipping service -->
                    <div class="aa-shipping-box">
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Miễn phí vận chuyển</div>
                      <div class="">Khu vực TP HCM</div>
                      </span>

                        </a>
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-phone"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Hỗ trợ: 0768.269.551</div>
                          <div class="">Tư vấn 24/7 miễn phí</div>
                      </span>

                        </a>
                        <a class="aa-shipping-boxsmall">
                            <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                            <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Giao hàng toàn quốc</div>
                      <div class="">Đảm bảo uy tín, chất lượng</div>
                      </span>

                        </a>
                    </div>


                    <!-- cart box -->
                    <div class="aa-cartbox">
                        <a class="aa-cart-link" href="/chitietgiohang">
                            <span class="fas fa-cart-arrow-down"></span>
                            <span class="aa-cart-title">GIỎ HÀNG</span>
                            
                        </a>
                        </div>
                    <!-- / cart box -->

                </div>
            </div>
        </div>
    </div>
</div>


    </header>
	
       
 <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" >
            <!-- Left nav -->
            <ul class="nav navbar-nav">
              <li><a href="/">TRANG CHỦ</a></li>
              <li><a href="/gioithieu">GIỚI THIỆU</a></li>
            <li><a href="/mockhoa">SẢN PHẨM</span></a>
               
              </li>

              <li><a href="/baiviet">BÀI VIẾT</a></li>
              <li><a href="/lienhe">LIÊN HỆ</a></li>
			  <li><a href="/quantri">QUẢN TRỊ</a></li>
              <li class="aa-search"><!-- search box -->
              <a class="aa-search-box">
                <form action="/timkiem" method="post">
                  <input type="text" name="keyword" id="" placeholder="Tìm kiếm sản phẩm..">
                 <button class="serach-box"><span class="fa fa-search"></span></button>
                </form>
              </a>
              <!-- / search box -->
             </li>
            </ul>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>
  </section>





